
@{
    ViewData["Title"] = "Login Page";
}
<div class="text-center">
<h2>@ViewBag.result</h2>
    <form>
          User Name:         <input name="str1" /><br />
          Password:          <input name="str2" type="password"/><br />
          <button>Login</button>
          <button asp-controller="Login" asp-action="Registration">I'm new</button>
          <button asp-controller="Login" asp-action="GetAllUsers">Get all users</button>
      </form> 
</div>
