@model Lab8_.Models.ModelData
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Разработать Web-приложение предоставляющее следующий функционал <br />
1)Вывести информацию с предыдущего задания <br />
2)Вывести объект контроллера в формате JSON<br />
3)Вывести страницу содержащую переданную в метод параметры (использовать любой из возможных способов передачи параметров на представление)<br />
Для реализации приведенного функционала разработать собственный контроллер и представление
Для каждого из заданий предусмотреть ссылку на главной страницы приложения (по аналогии со ссылками Home, Privacy в дефолтном проекте)
Для 3-го задания разработать в контроллере метод, принимающий минимум 3 параметра различных типов
         
    
    
</div>
