@model Lab8_.Models.ClothesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

         id:   <strong>@Model.Id </strong> <br />
         name: <strong>@Model.Name</strong><br />
         type: <strong>@Model.Type</strong><br />
         cost: <strong>@Model.Cost</strong><br />

</div>
